<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>IPL Auction Universe</title>

    <link rel="stylesheet"
          href="/static/css/style.css">

</head>

<body>

    <div class="main-container">

        <h1>🏏 IPL Auction Universe</h1>

        <div class="buttons">

            <button id="joinBtn">
                Join Random Room
            </button>

            <button id="createBtn">
                Create Room
            </button>

        </div>

    </div>

    <script src="/static/js/main.js"></script>

</body>

</html>
